@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Oswald|Abel);

$font-stack: tahoma, helvetica, serif;
$font-serif: 'Playfair Display', serif;
$font-sans: 'Oswald', sans-serif;
$font-body: 'Abel', sans-serif;
